<header class="dashboard-header">
  <div class="header-content">
    <div class="logo-section">
      <a href="#" class="logo"></a>
      <!-- <img src="./logo.png" alt="Hiyaw Mahider Logo" class="logo"> -->
      <h1>ሕያው ማህደር (Hiyaw Mahider) Learning System</h1>
    </div>
    <div class="user-info">
      <!-- <div *ngIf="authService.authState | async as user; else loginButton" class="user-greeting">
        <span>Welcome, {{ user.displayName || user.email }}</span>
        <span class="user-role">{{ user.role || 'User' }}</span>
      </div> -->
      <ng-template #loginButton>
        <button mat-button routerLink="/login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>
      <!-- <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="authService.authState | async"> -->
      <mat-icon>account_circle</mat-icon>
      <!-- </button> -->
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="viewProfile()">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>lock</mat-icon>
          <span>Change Password</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</header>

<main class="content" style="
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;">
  
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content-area" style="flex: 1;">
    <router-outlet></router-outlet>
  </div>

</main>


<footer *ngIf="showFooter" class="footer">
  <p>© {{currentYear}} Hiyaw Mahider ሕያው ማህደር Learning System</p>
</footer>